*{
    margin: 0;
    padding: 0;
}
body{
    
    font-size: 30px;
    border: 3px solid red;
    min-height: 100vh;
    

}
.flex_container{
   display: flex;
   gap: 90px;
   /* justify-content: center; */
   flex-direction: row;
   color: red;
   align-items: center;


}